/* ***************************
GENERAL
*************************** */

body{
	font-family:Arial, Helvetica, sans-serif;
}

#wow{
	max-width:940px;
	margin:0 auto;
	padding:0 3.5%;
}

#wow1{
	max-width:940px;
	margin:0 auto;
	padding:0 3.5%;
}


a{
	text-decoration:none;
}

img{
	max-width:100%;
}


h3{
	margin:0 0 0.5em 0;
}

h4{
	margin:0 0 0.5em 0;
}



/* ***************************
HEADING
*************************** */

header{
	float:left;
	margin:0 0 30px 0;
	padding:5px 0 0 0;
	width:100%;
}

#logo{
	text-align:center;
	margin:0;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	margin:15px 0;
	font-size:1.75em;
	font-weight:bolder;
	line-height:0.8em;
}



/* ***************************
NAVGATION
*************************** */

nav{
	text-align:center;
	padding:10px 0;
	margin:20px 0 0;
}

nav ul{
	list-style:none;
	margin:0 10px;
	padding:0;
}

nav li{
	display:inline-block;
}

nav a{
	font-weight:800;
	padding:15px 10px;
}


/* ***************************
FOOTER
*************************** */
footer{
	font-size:0.75em;
	text-align:center;
	clear:both;
	padding-top:50px;
	color:#ccc;
}

.logo{
	width:auto;
	height:30px;
	margin:0 5px;
}


/* ***************************
PAGE FUWU
*************************** */

#wangzhi{
	margin:0;
	padding:0;
	list-style:none;
}

#wangzhi li{
	float:left;
	width:22.5%;
	margin:1% 1% 1% 1%;
	border:thin;
	border-style:dashed
}

#wangzhi li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.00em;
	font-weight:bolder;
	color:#000066;
}

/* ***************************
PAGE ILO
*************************** */

#ilo{
	margin:0;
	padding:0;
	list-style:none;
}

#ilo li{
	float:left;
	width:53px;
	margin:0 1px 1px 0;
	border:thin;
	border-style:dashed;
}

#ilo li a{
	font-family:arial,tahoma,\5b8b\4f53;
	font-size:1.00em;
	font-weight:bold;
	color:#000066;
}

.henan{
	float:left;
	width:25%;
	margin:0;
	padding:0;
}

.henan1{
	float:left;
	width:25%;
	margin:0;
	padding:0;
}

.dongbei{
	float:left;
	width:25%;
	margin:0;
	padding:0;
}

.qita{
	float:right;
	width:25%;
	margin:0;
	padding:0;
}

/* ***************************
COLORS
*************************** */

/*site body*/
body{
	background-color:#FFFFFF;
	color:#999;
}

/*green header*/
header{
	background:#00CC99;
	border-color:#66CC66;
}

/*µ¼º½±³¾°*/
nav{
	background:#66CC66;
}


/*logo text*/
h1,h2{
	color:#FFFFFF;
}
/*links*/
a{
	color:#6ab47b;
}


/*nav links*/
nav a{
	color:#FFFFFF;
}
/*abb nav links*/
nav a.abb,nav a:hover{
	color:#336600;
}